<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>
</head>

<body>
<div id="contentDiv" onmouseover="getTop().stopPropagation(event);"
     onclick="getTop().preSwapLink(event, 'html', 'ZC0006_aV_NqKSMOl8uiAEA8cu_Pc2');"
     style="position:relative;font-size:14px;height:auto;padding:15px 15px 10px 15px;z-index:1;zoom:1;line-height:1.7;"
     class="body">
    <div id="qm_con_body">
        <div id="mailContentContainer" class="qmbox qm_con_body_content qqmail_webmail_only"
             style="opacity: 1;">
            <div
                    style="width:100%;background:#49BDAD;color:#fff;border-radius:10px 10px 0 0;background-image:-moz-linear-gradient(0deg,#43c6b8,#ffd1f4);background-image:-webkit-linear-gradient(0deg,#43c6b8,#ffd1f4);height:66px">
                <p style="text-align:center;color:#231e1e;font-size:15px;word-break:break-all;padding:23px 32px;margin:0;background-color:hsla(0,0%,100%,.4);border-radius:10px 10px 0 0">
                    ${mailTitle!} <!--邮件标题-->
                </p>
            </div>
            <div style="margin:40px auto; width:90%">
                <p style="background:#fafafa repeating-linear-gradient(-45deg,#fff,#fff 1.125rem,transparent 1.125rem,transparent 2.25rem);box-shadow:0 2px 5px rgba(0,0,0,.15);margin:20px 0;padding:15px;border-radius:5px;font-size:14px;color:#555">
                    软件：${SoftName!} <!--软件名称-->
                    <br>
                    昵称：${name!} <!--用户昵称-->
                    <br>
                    用户：${username!} <!--用户-->
                    <br>
                    密码：${password!} <!--密码-->
                    <br>
                    使用卡密：${keyword!} <!--最后使用卡密-->
                    <br>
                    到期时间：${data!} <!--到期时间-->
                    <br>
                    剩余点数：${point!} <!--剩余点数-->
                    <br>
                    机器码：${DeviceCode!} <!--机器码-->
                    <br>
                    最后登录IP：${LastIp!} <!--最后登录IP-->
                    <br>
                    注册时间：${RegTime!} <!--注册时间-->
                    <br>
                    最后登录时间：${LastTime!} <!--最后登录时间-->
                    <br>
                    联系人QQ：${qq!} <!--QQ-->
                    <br><br>
                    温馨提示：该信息由MyAuth授权中心生成，请妥善保管。
                </p>
                <p style="text-align:center;font-size:13px;color:#666;line-height:20px;border-top:dashed 1px #666;border-bottom:dashed 1px #666;padding:20px 0">
                    ☉系统邮件由<a href="#" style="color:#12addb" rel="noopener" target="_blank">MyAuth授权中心</a>自动生成<br>☉如果内容不是您请求的，请及时删除此邮件！<br>
                </p>
            </div>
            <style type="text/css">
                .qmbox style,
                .qmbox script,
                .qmbox head,
                .qmbox link,
                .qmbox meta {
                    display: none !important;
                }
            </style>
        </div>
    </div>
    <style>
        #mailContentContainer .txt {
            height: auto;
        }
    </style>
</div>
</body>

</html>