<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            background: #f5f5f5;
        }
        .email {
            width: 100%;
            background: #ffffff;
            padding: 20px;
            border-radius: 5px;
            border: 1px solid rgb(212, 218, 223);
            box-sizing: border-box;
        }
    </style>
</head>
<body>
<div class="email">
    <h2>您的授权绑定已新开成功！</h2>
    <h3>用户名：${username!}</h3>
    <h3>密码：${password!}</h3>
    <h3>使用卡密：${keyword!}</h3>
    <h3>到期时间：${data!}</h3>
    <h3>剩余点数：${point!}</h3>
    <h3>联系QQ：${qq!}</h3>
</div>
</body>
</html>